%article.couple
  %header
    .row
      .small-4.columns
        =image_tag @list.image
      .small-8.columns
        %h1= @list.title
        %p= @list.description

%section.small-12.columns.show-for-small-only 
  #thermometer
  %p
    This is a description of how far we've reached the target.

.row
  %section.small-12.medium-10.columns
    %header 
      %h1 Contribute to #{@list.title}'s list
      %p To doodle doodle doodle doodle

    %ul.products
      - @list.products.each do |product|
        %li.row
          .small-2.columns
            =image_tag product.image
          .small-10.columns
            %h1= product.name
            .description= product.description
            .price= formatted_price(product.price)

  .thermometer-container.medium-2.columns
    #thermometer

