%article.couple

  %header.row
    .small-4.columns
      =image_tag @list.image
    .small-8.columns
      %h1= @list.title
      %p= @list.description

  .row
    %section.small-12.medium-1.medium-push-11.columns
      #thermometer
      %p.show-for-small-only 
        This is a description of how far we've reached the target.

    %ul.products.small-12.medium-11.medium-pull-1.columns
      - @list.products.each do |product|
        %li
          .small-4.columns
            =image_tag product.image
          .small-8.columns
            %h1= product.name
            .description= product.description
            .price= formatted_price(product.price)

