!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
    = csrf_meta_tags
  %body
    %header#global
      .row
        %h1.medium-6.columns
          Wedding#{ content_tag(:span) { 'ly.st' }}
        %ul.medium-6.columns
          %li
            %a{:href => "/about"} About
          - if signed_in?
            %li= link_to 'Log out', logout_path
          - else
            %li{:class => "sign-up"}= link_to 'Sign Up', signup_path
            %li{:class => "log-in"}= link_to 'Log In', login_path

    .row
      = yield
      = javascript_include_tag "application"
    %footer
      .row
        %p Please give me some footery love.
